# Cpastone

#### Import library and load the table from wiki

In [4]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
req = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(req.content,'lxml')
table = soup.find_all('table')[0]
df_table = pd.read_html(str(table))
df=pd.DataFrame(df_table[0])

In [5]:
df.shape

(287, 3)

In [6]:
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

#### remove the 'Not assigned'

In [7]:
df.Neighbourhood.replace('Not assigned',np.nan,inplace=True)
df.Borough.replace('Not assigned',np.nan,inplace=True)
df.dropna(axis=0,inplace=True)
df.head(5)

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

#### reformat the data

In [8]:
df['new']=df.Postcode+df.Borough
dfn=df.groupby('new')['Neighbourhood'].apply(','.join).reset_index()
dfn.head()

              new                         Neighbourhood
0  M1BScarborough                         Rouge,Malvern
1  M1CScarborough  Highland Creek,Rouge Hill,Port Union
2  M1EScarborough       Guildwood,Morningside,West Hill
3  M1GScarborough                                Woburn
4  M1HScarborough                             Cedarbrae

In [9]:
dfn['Postcode']=dfn.new.str[:3]
dfn['Borough']=dfn.new.str[3:]

In [14]:
dfn['Neighbourhood1']=dfn['Neighbourhood']
dfn.drop(['new','Neighbourhood'],axis=1,inplace=True)
dfn.head()

  Postcode      Borough                        Neighbourhood1
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [15]:
dfn.rename(columns={'Neighbourhood1':'Neighbourhood'},inplace=True)

In [16]:
dfn.head()

  Postcode      Borough                         Neighbourhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

In [17]:
dfn.shape

(103, 3)